{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% block full_title %}{{ PROJECT_NAME }}{% endblock full_title %}
{% block content %}
<section class="page page--wide">
    {% include "includes/messages.html" %}
    <p>We found the following articles with this query.</p>
    <table>
   <tr>
       <th>Article</th>
   </tr>
   {% for item in articles %}
       <tr>
           <td><a href="{{ item.get_absolute_url }}">{{item.title}}</a></td>
       </tr>
   {% endfor %}
</table>

    <form method="post" action="usecase_feedback" id="multiple_option_feedback_form">
        {% csrf_token %}
        {{ usecase_form }}
        <button type="submit">{% translate "Submit" %}</button>
    </form>
</section>
{% endblock content %}
