{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% block full_title %}{{ PROJECT_NAME }}{% endblock full_title %}
{% block content %}
<section class="page page--wide">
    {% include "includes/messages.html" %}
    <table>
   <tr>
       <th>{% if title %}{{title}}{% else %}Articles{% endif %}</th>
   </tr>
   {% for item in articles %}
       <tr>
           <td><a href="{{ item.get_absolute_url }}">{{item.title}}</a></td>
       </tr>
   {% endfor %}
</table>
{% if use_case_form %}
<hr>
    <p>If none of these solutions work for you, we'd love to learn why!</p>
    <form method="post" action="usecase_feedback" id="multiple_option_feedback_form">
        {% csrf_token %}
        {{ use_case_form }}
        <button class="button button-outline" type="submit">{% translate "Give Feedback" %}</button>
    </form>
{% endif %}
</section>
{% endblock content %}
