    <h3>
        Pages
    </h3>
    <table>
        <thead>
            <tr>
                <td>Page</td><td>Detail</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="/__dev__/list_articles/">DEBUG article list</a></td><td>Full list of content articles</td>
            </tr>
            <tr>
                <td><a href="/dj-admin/">dj-admin</a></td><td>Django admin</td>
            </tr>
            <tr>
                <td><a href="/accounts/signup/">accounts/signup</a></td><td>Sign up page</td>
            </tr>
            <tr>
                <td><a href="/accounts/login/">accounts/login</a></td><td>Sign in page</td>
            </tr>
            <tr>
                <td><a href="/accounts/password/reset">accounts/password/reset</a></td><td>Reset password</td>
            </tr>
            <tr>
                <td><a href="/accounts/settings/">settings</a></td><td>Settings page</td>
            </tr>
            <tr>
                <td><a href="/silk/">silk</a></td><td>Silk profiling tool</td>
            </tr>
        </tbody>
    </table>
