{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% block full_title %}{{ PROJECT_NAME }}{% endblock full_title %}
{% block content %}
<section class="page page--wide">
    {% include "includes/messages.html" %}
    <h1>
        {{ PROJECT_NAME }}
    </h1>
    <h3>
        Query the Portability Map
    </h3>

    <form method="post" action="find_articles">
        {% csrf_token %}
        {{ form }}
        <button type="submit">{% translate "Submit" %}</button>
    </form>

</section>
{% endblock content %}
