{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% block full_title %}{{ PROJECT_NAME }}{% endblock full_title %}
{% block content %}

<section class="page page--wide">
    {% include "includes/messages.html" %}
    <h1>
        Query the Portability Map
    </h1>

    <p>
    Do you need to move your online data to a new home?  It can be hard to find out
    how to do so, whether there's really no good way, one good way or even several
    different approaches with different tradeoffs.
    </p>

    <p>The <a href="http://dtinit.org">Data Transfer Initiative</a> is interested in
    making an improvement in how you can move your own data, and as part of that, this
    site offers a way to query a library of possible solutions.</p>

    <form method="post" action="find_articles" id="query_form">
        {% csrf_token %}
        {{ form }}
        <button type="submit">{% translate "Submit" %}</button>
    </form>

</section>
<script>
    const queryStructure = JSON.parse('{{ query_structure|safe }}');
</script>
<script src="{% static 'js/query_form.js' %}"></script>

{% endblock content %}
