{% extends '_base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<section class="page page--wide">
    {% include "includes/nav-bar.html" %}
<h1>Thank you! <i data-lucide="heart" color="#e64e33"></i></h1>

<p>
    We appreciate your feedback.  It's stored anonymously, and we'll use it
to inform our work on data portability requirements, standards and
libraries.
</p>
<ul class="vertical-list">
    <li><a href="{{ referer }}" class="icon-link"><i data-lucide="arrow-left"></i>Back</a></li>
    <li><a href="/" class="icon-link"><i data-lucide="home"></i>Home</a></li>
</ul>
</section>
{% endblock content %}
