{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<meta property="og:image" content="/static/images/portmap_meta.jpg" />
<meta property="twitter:card" content="summary_large_card" />
<title>{% block full_title %}{% block title %}{% endblock title %} | {{ PROJECT_NAME }}{% endblock full_title %}</title>
<meta name="description" content="Find help articles about moving your digital stuff.">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/article.css' %}">

    <script src="https://unpkg.com/lucide@latest" async id="lucide-script"></script>
<script src="{% static 'js/htmx.min.js' %}" defer></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // The lucide script is loaded asynchronously.
        // If it's already loaded, initialize the icons.
        if (window.lucide) {
            window.lucide.createIcons();
            return;
        }
        // Otherwise, wait for it to finish loading and *then* initialize.
        document.getElementById('lucide-script').addEventListener('load', () => {
            if (window.lucide) {
                window.lucide.createIcons();
            }
        });
    });
</script>
{% block header %}{% endblock header %}
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
{% block content %}
{% endblock content %}
</body>
<footer>
    <a href="https://dtinit.org/privacy-policy">Privacy Policy</a>
</footer>
</html>
